<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
          min-height: 2000px;
          padding-top: 70px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>LEARN YOU A JQUERY AND AJAX</h1>
        </div>
        <p class="lead">Hey everyone - clone this repo!</p>
        <code> git clone https://github.com/lizTheDeveloper/hackbright-jquery-ajax.git </code></p>
        <p>Then go there and type in your terminal <code>python app.py</code>.
        <h2>Slides!</h2>
        <a href="http://www.teaching-materials.org/jquery/">jQuery</a> <br>
        <a href="http://www.teaching-materials.org/ajax/">AJAX</a>
        <h2>Exercises!</h2>
        <a href="/1">First exercise (jQuery Only)</a> <br>
        <a href="/2">Second exercise (jQuery, jQuery UI and AJAX)</a>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
